<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic24_2_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# コレクション 課題

## 課題1

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、2つのリストを使って、以下の3つのリストを出力してください。
1. 対応する要素を足し合わせた新しいリスト
2. リストから重複する要素を削除した新しいリスト   
3. 共通の要素を持つ新しいリスト

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
重複削除リスト：[1, 2, 3, 4, 5, 7, 9]
共通要素リスト：[1, 3, 5]
```

＜ヒント＞ set関数を用いても用いなくても答えは出せます。

In [ ]:
# 入力用

## 課題2

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県',
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県',
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県',
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県',
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
# 入力用

## 課題3

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [ ]:
# 入力用

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたディクショナリ `university_dic` があります。

In [ ]:
university_dic = {
    "Chitose" : 25,
    "Hokudai" : 105,
    "Muroran" : 74,
    "Hakodate": 23,
}

このリストを、年齢順にソートして、新たなディクショナリとして出力してください

＜実行結果＞  
``` py
{'Chitose,25', 'Hokudai': 105, 'Muroran': 74, 'Hakodate': 23}
{'Hakodate': 23, 'Chitose': 25, 'Muroran': 74, 'Hokudai': 105}
```

In [ ]:
# 入力用

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合はFizzを出力
* 5で割り切れる数字の場合はBuzzを出力
* 7で割り切れる数字の場合はJazzを出力
* 複数条件が当てはまる場合は組み合わせて出力（ "FizzBuzz", "FizzJazz", "BuzzJazz" など）

ここでは N=100として、まずは一つのリストに  
"Fizz" か "Buzz" か "Jazz" か "組み合わさったもの" か "others" を格納してください。

その後、それぞれの要素の数をカウントし、ディクショナリの形で出力してください。

＜実行結果例＞  
``` py
{'Fizz': 23, 'Buzz': 12, 'Jazz': 8, 'FizzBuzz': 6, 'FizzJazz': 4, 'BuzzJazz': 2, 'others': 45}
```

In [ ]:
# 入力用